<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-nav-list class="sidenav-list" appTitleSize>
      <a mat-list-item routerLink="/students">Students<mat-icon>group</mat-icon></a>
      <a mat-list-item routerLink="/courses">Courses<mat-icon>library_books</mat-icon></a>
      <a mat-list-item routerLink="/classes">Classes<mat-icon>school</mat-icon></a>
    </mat-nav-list>
  </mat-drawer>

  <app-toolbar (drawerToggle)="onDrawerToggle()"></app-toolbar>
</mat-drawer-container>

<!-- SideNav -->
<!-- <mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-nav-list class="nav-list" appTitleSize>
      <a mat-list-item
      routerLink="students"
      routerLinkActive
      #studentsLink="routerLinkActive"
      [activated]="studentsLink.isActive"
        >Students</a>
      <a mat-list-item href="...">Courses</a>
      <a mat-list-item href="...">Classes</a>
    </mat-nav-list>
  </mat-drawer> -->
