@import '../../../../scss/variables';

.sidenav-container {
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
}
.sidenav-content {
  height: 100%;
}
.sidenav {
  padding: 20px;
  width: 200px;
  border-radius: 0;
}
a:hover{
  background-color: $primary-color;
}

.mat-icon{
  padding: 2%;
}
