@import '../../../../scss/variables';

.sidenav-container {
  width: 100vw;
  height: 100vh;
  background-image: url('/cool-background.png');
  background-size: cover;  
  background-position: center; 
}

.sidenav-content {
  height: 80vh;
  width: 80vw;
  flex: 1;
}
.sidenav {
  padding: 20px;
  width: 200px;
  border-radius: 0;
}
a:hover{
  background-color: $primary-color;
}

mat-icon{
  padding: 2%;
}

mat-drawer{
  opacity: $my-opacity;
}
