<mat-drawer-container class="sidenav-container" autosize>
  <app-toolbar (drawerToggle)="onDrawerToggle()"></app-toolbar>
  <mat-drawer #drawer class="sidenav" mode="side" (click)="onBackdropClick(drawer)">
    <mat-nav-list class="sidenav-list" appTitleSize>
      <a mat-list-item routerLink="/home">Inicio<mat-icon>home</mat-icon></a>
      <a *ngIf="(authUser$ | async)?.role === 'Professor'"mat-list-item routerLink="/students">Alumnos<mat-icon>group</mat-icon></a>
      <a mat-list-item routerLink="/courses">Cursos<mat-icon>library_books</mat-icon></a>
      <a mat-list-item routerLink="/classes">Clases<mat-icon>school</mat-icon></a>
      <a (click)="logout()" mat-list-item>Cerrar sesion<mat-icon>close</mat-icon></a>
    </mat-nav-list>
  </mat-drawer>

  <main class="p-5">
    <router-outlet/>
  </main>
  <app-footer/>
</mat-drawer-container>
