@import '../../../../scss/variables';

/* Footer */
mat-toolbar {
  width: auto;
  height: 8vh;
  margin-top: 8vh;
  display: flex;
  justify-content: space-between;
  background: $secondary-gradient;
  padding: 3% 2%;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.2);
  text-shadow: $deeper-text;
}

.social-links a {
  color: #fff;
  margin: 0px 10px;
  text-decoration: none;
}

.social-links a:hover {
  background-color: $tertiary-color ;
}

span{
  font-size:medium;
}