@import '../../../../scss/variables';

mat-form-field {
  margin: 2% 2%,
}

h2 {
  text-align: center;
  text-shadow: $deeper-text;
  background: $first-gradient;
}

mat-error{
  color: rgb(182, 63, 63);
}

mat-dialog-actions {
  justify-content: center;
}