@import '../../../../scss/variables';

//sidenav
.sidenav-container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(216, 195, 164);
}
.sidenav {
  padding: 20px;
  width: 200px;
  border-radius: 0;
}
a:hover{
  background-color: $primary-color;
}


//toolbar
.toolbar-content {
  height: 100%;
}
.mat-toolbar {
  background-color:$primary-color;
  display: flex;
  padding: 3%;
}
.tittle {
  margin-left: 1%;
  font-size:xx-large;
}

.menu-icon:hover {
  background-color: $secundary-color;
}
