//sidenav
.sidenav-container {
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
}
.sidenav-content {
  height: 100%;

}
.sidenav {
  padding: 20px;
  width: 200px;
  border-radius: 0;
}

//toolbar
.mat-toolbar {
  background-color:darkolivegreen;
  display: flex;
  padding: 3%;
}
.tittle {
  margin-left: 1%;
  font-size:xx-large;
}

