<div *ngIf="student" class="profile-container">
  <mat-card class="profile-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{ student.firstName }} {{ student.lastName }}</mat-card-title>
    </mat-card-header>
    <img 
      mat-card-image 
      [src]="student.profileImage ? student.profileImage : '/profile-img.png'" 
      alt="profile-img" 
      class="profile-image">
    <mat-card-content>
      <div class="profile-details">
        <h3>Información Personal</h3>
        <p><strong>Nombre Completo:</strong> {{ student.firstName }} {{ student.lastName }}</p>
        <p><strong>Email:</strong> {{ student.email }}</p>
      </div>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-raised-button color="primary" (click)="editProfile(student.id)">Editar Perfil</button>
      <button mat-raised-button color="warn" (click)="deleteProfile(student.id)">Eliminar Perfil</button>
    </mat-card-actions> -->
  </mat-card>
</div>
