<!-- Hero Section -->
<section class="hero">
  <div class="hero-content">
    <h1>{{ heroTitle }}</h1>
    <p>{{ heroSubtitle }}</p>
    <a mat-button routerLink="/courses">Explorar Cursos</a>
  </div>
</section>

<!-- Courses Slider -->
<section id="courses" class="courses-slider">
  <h2>{{coursesTitle}}</h2>
  <mat-card class="course-card" *ngFor="let course of courses">
    <img mat-card-image [src]="course.image" [alt]="course.name">
    <mat-card-content>
      <h3>{{ course.name }}</h3>
      <p>{{ course.description }}</p>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>Register</button>
    </mat-card-actions> -->
  </mat-card>
</section>

<!-- Testimonials -->
<section class="testimonials">
  <h2>{{ testimonialsTitle }}</h2>
  <div class="testimonial-carousel">
    <div class="testimonial-track">
      <div *ngFor="let testimonial of testimonials" class="testimonial-wrapper">
        <mat-card class="testimonial">
          <mat-card-content>
            <p>"{{ testimonial.feedback }}"</p>
            <footer appTitleSize>{{ testimonial.name }}</footer>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>