
@if (isProfessor) {
<h1 class="header-title">Inscripciones</h1>
<hr class="divider"/>

@if (isLoading$ | async) {
<p>Cargando....</p>
} @else { @if(error$ | async) {

<p>Ocurrio un error inesperado!!!</p>

} @else {
<form [formGroup]="enrollmentForm" class="enrollment-form">
  <div class="col-6">
    <mat-form-field appearance="outline">
      <mat-select
        formControlName="studentId"
        placeholder="Selecciona un alumno">
        @for (student of students$ | async; track $index) {
        <mat-option [value]="student.id">{{ student.firstName }} {{ student.lastName }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-6">
    <mat-form-field appearance="outline">
      <mat-select
        formControlName="courseId"
        placeholder="Selecciona un curso">
        @for (course of courses$| async; track $index) {
        <mat-option [value]="course.id">{{ course.title }}</mat-option
        >
        }
      </mat-select>
    </mat-form-field>
  </div>
  <button mat-raised-button (click)="addEnrollment()">Agregar</button>
</form>
}}

<mat-accordion class="expansion-panels">
  @for ( enrollment of enrollments$ | async; track $index) {
    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
    <mat-expansion-panel-header>
      <mat-panel-title> Inscripción {{ enrollment.id }} </mat-panel-title>
      <mat-panel-description>
        {{ enrollment.course.title }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{ enrollments$ }}</p>
  </mat-expansion-panel>
}
</mat-accordion>
} @else {
  <h2>Inscripción al curso</h2>
  @if (courses$ | async) {
    <div>
      <h3>{{courses$| async}}</h3>
    </div>
  }
  <form [formGroup]="enrollmentForm" (click)="addEnrollment()">
    <button mat-raised-button type="submit">Inscribirse</button>
  </form>
}

