<div class="courses-tabs">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab class="courses-label" *ngFor="let course of courses" [label]="course.title">
      <ng-template matTabContent>
        <div class="course-content">
          <h2 [routerLink]="['/classes']">{{ course.title }}</h2>
          <p>{{ course.description }}</p>
          <ul>
            <li *ngFor="let topic of course.topics">{{ topic }}</li>
          </ul>
        </div>
        <div class="button-container animate__animated animate__slideInDown">
        <button mat-raised-button [routerLink]="['/enrollments', course.id]">{{ getButtonText() }}</button>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
