@import '../../../scss/variables';

.course-content {
  padding: 20px;
  width: 35vw;
  height: 50vh auto;
  margin: 3% auto;
  text-align: center;
}

.course-content h2 {
  font-family: $primary-title-font;
  font-weight: 600;
  color: $primary-color;
  margin-bottom: 2vh;
}

.course-content p {
  color: $secondary-color;
  margin-bottom: 20px;
}

.course-content ul {
  list-style-type: none;
  padding: 0;
}

.course-content ul li {
  background:$secondary-color;
  opacity: $my-opacity;
  width: auto;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
}


