//Color
$primary-color: #00ACC1;
$secondary-color: rgb(36, 36, 36);
$tertiary-color: rgb(155, 95, 185);

//Font
$primary-title-font: 'Roboto', sans-serif;
$deeper-text:
1px 1px 2px rgba(0, 0, 0, 0.2),
2px 2px 4px rgba(0, 0, 0, 0.2),
2px 2px 4px rgba(0, 0, 0, 0.2);
$deeper-card: 
  1px 1px 2px rgba(0, 0, 0, 0.2),
  2px 2px 4px rgba(0, 0, 0, 0.15),
  3px 3px 6px rgba(0, 0, 0, 0.1),
  4px 4px 8px rgba(0, 0, 0, 0.05);

//Opacity
$my-opacity: 0.9;

//Gradient
$first-gradient: linear-gradient(to bottom, #00ACC1, #64dbeb);
$secondary-gradient: linear-gradient(to top, #00ACC1, #64dbeb);