@import '../../../../scss/variables';

.mat-toolbar {
  background: $first-gradient;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  padding: 4% 2%;
  justify-content: space-between;
}

.left-section {
  display: flex;
  align-items: center;
}

.right-section {
  display: flex;
  align-items: flex-end;
}

.title {
  text-decoration: none;
  color: whitesmoke;
  font-family: $primary-title-font;
  font-weight: 950;
  font-size:2.4rem;
  text-shadow: $deeper-text;
  margin-left: 1%;
}

.menu-icon {
  flex: 0 1 auto;
  color: whitesmoke;
}

.user-info {
  color: whitesmoke;
  font-family: $primary-title-font;
  text-shadow: $deeper-text;
  font-size: large;
  font-weight: 500;
  margin-left: 1%;
  line-height: 2;
}

